.admin-gallery-row{
  padding-left: 20px;
}

.admin-gallery-title{
  background-color: white;
  border-radius: 20px;
  text-align: left;
}

.admin-gallery-action{
  font-size: 1.5em;
  a{
    color: white;
  }
}