/***** HOME PAGE *****/
@media screen and(max-width:1200px){
  .home-description{
    font-size: 1.6em;
  }

  .home-button{
    font-size: 1.2em;
    width: 80%;
  }

  .home-box{
    width: 90%;
    height: 100%;
    /*top: 0;
    left: 50%;
    transform: translateX(-50%);*/
  }
}




/***** END - HOME PAGE *****/

/***** GALLERY PAGE *****/
@media screen and(min-width:500px) and(max-width: 768px){
  .gallery-category-box h2{
    font-size: 1.4em;
  }

  .gallery-row{
    margin-top: 20px;
  }

  .vertical-line{
    top: 35%;
  }

  .gallery-category-box{
    margin-top: 20px;
    font-size: 1.2em;
  }

  .gallery-project-box{
    width: 40%;
  }

  .project-control{
    background-color: black;
  }

}

@media screen and(max-width: 500px){
  .vertical-line{
    height: 55%;
    top: 45%;
  }

  .gallery-category-box h2{
    font-size: 1.4em;
  }

  .gallery-row{
    margin-top: 20px;
  }

  .profile{
    width: 40px;
    height: 40px;
  }
  .profile-img-box{
    height: 100%;
  }

  .gallery-category-box{
    margin-top: 20px;
    font-size: 0.8em;
  }

  .gallery-project-box{
    width: 40%;
  }

  .project-control{
    background-color: black;
  }
}

/***** END - GALLERY PAGE *****/




/***** ECOLO PAGE *****/
@media screen and(max-width: 768px){
  .ecolo-text-left, .ecolo-text-right{
    text-align: center;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .vertical-line-ecolo{
    top: 20%;
    height: 80%;
  }

  .ecolo-container{
    padding-bottom: 30px;
  }
}

/***** END - ECOLO PAGE *****/


/***** CONTACT PAGE *****/
@media screen and(max-width: 768px){
  .contact-label{
    margin: 0 auto;
    padding: 0;
  }

  .vertical-line{
    display: none;
  }

  .contact-input-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .contact-input{
    margin:0;
  }

  .contact-informations{
    font-size: 1.0em;
  }

  .contact-submit{
    font-size: 1.4em;
    width: 50%;
  }

}


/***** END - CONTACT PAGE *****/