* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: none; }

button {
  border: 0; }

body {
  overflow-x: hidden; }

.base-container-menu {
  min-height: 100vh;
  height: 100%;
  position: relative; }

.base-menu-box {
  height: 100vh;
  width: 191px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0; }

.base-menu {
  width: 80%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .base-menu ul {
    width: 100%;
    height: 100%; }
    .base-menu ul li a {
      color: white;
      font-size: 1.3em; }
    .base-menu ul li a:hover {
      border: 1px solid white;
      background-color: white;
      color: rgba(0, 0, 0, 0.8);
      border-radius: 0 10px 0 10px;
      padding: 5px; }
    .base-menu ul .bases-legal {
      font-size: 0.8em; }
    .base-menu ul li .active, .base-menu ul li .active-legal {
      border: 2px solid white;
      border-radius: 0 10px 0 10px;
      padding: 10px;
      text-decoration: none;
      cursor: default; }
    .base-menu ul li .active-legal {
      font-size: 1.3em; }

.base-content {
  background-image: url("../img/logo-background-2.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 43%;
  background-position: 58%;
  position: relative; }

.profile {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  overflow: hidden;
  position: fixed;
  right: 5%;
  bottom: 5%; }

.profile:hover {
  cursor: pointer; }

.profile-content {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 100vw;
  display: none;
  z-index: 20; }

.profile-content-close {
  float: right;
  margin-right: 10%;
  font-size: 2em;
  font-weight: bold; }

.cln {
  clear: both; }

.profile-content-close:hover {
  color: red;
  cursor: pointer; }

.profile-img-box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.profile-text-box {
  margin-top: 15%; }

/** HIDDEN MENU **/
.base-burger-box {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 10%;
  height: 10%;
  z-index: 10; }

.base-hidden-menu {
  background-color: black;
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  z-index: 15;
  transition: all linear 0.4s; }
  .base-hidden-menu li {
    margin: 30px; }
    .base-hidden-menu li a {
      color: white;
      font-size: 1.4em; }
    .base-hidden-menu li a:hover {
      cursor: pointer; }
    .base-hidden-menu li a:focus {
      cursor: pointer;
      font-size: 1.8em; }

.base-hidden-close {
  float: right;
  margin-right: 20px;
  font-size: 1.6em;
  color: white; }

.base-hidden-close:focus {
  color: red; }

/**************** ADMIN ****************/
.admin-h1 {
  text-align: center;
  margin-bottom: 40px; }

.admin-base-container-menu {
  padding: 0; }
  .admin-base-container-menu .base-menu-box {
    width: 200px; }

/**************** FIN - ADMIN ****************/
.home-row {
  height: 100vh; }

.home-box {
  width: 70%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0 30px 0 30px;
  text-align: center; }

.home-text-box {
  width: 80%;
  height: 60%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.home-description {
  color: white; }

.home-button {
  margin-top: 20px;
  border-radius: 20px;
  border: 0;
  background-color: white;
  color: black;
  width: 30%;
  height: 15%; }

.home-button:hover {
  background-color: dimgrey;
  color: white; }

/** ALL CATEGORIES **/
.gallery-container, .ecolo-container, .contact-container, .legal-container {
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 45px;
  min-height: 90vh;
  border-radius: 0 30px 0 30px;
  padding-top: 20px;
  position: relative; }

.vertical-line, .contact-vertical-line {
  position: absolute;
  top: 35%;
  left: 50%;
  height: 60%;
  width: 2px;
  background-color: white; }

.gallery-h1, .base-hidden-h1, .ecolo-h1, .contact-h1 {
  text-align: center;
  color: white;
  font-size: 3em; }

.gallery-p {
  color: white;
  font-size: 1.5em;
  margin-left: 20px;
  margin-top: 50px; }

.gallery-row {
  margin-top: 100px; }

.gallery-category-column {
  height: 100%; }
  .gallery-category-column a:hover {
    text-decoration: none; }
    .gallery-category-column a:hover .gallery-category-box {
      color: white;
      background-color: dimgrey; }

.gallery-category-box {
  height: 80px;
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  text-transform: capitalize;
  background-color: white; }
  .gallery-category-box h2 {
    text-align: center; }

/** ONE CATEGORY **/
.gallery-category-select {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.6em; }

.gallery-project-column {
  margin-bottom: 50px; }

.gallery-project-box {
  width: 80%;
  height: 115%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  position: relative; }
  .gallery-project-box .gallery-project-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    display: none; }
  .gallery-project-box img {
    transform: scale(1.5); }

.gallery-project-box:hover {
  transition: all linear 0.2s;
  transform: scale(1.2);
  cursor: pointer; }
  .gallery-project-box:hover .gallery-project-text {
    display: block; }
  .gallery-project-box:hover img {
    opacity: 0.7; }

.gallery-category-modal-hidden {
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: none; }

/** PROJECT CAROUSEL **/
.project-carousel {
  width: 100%;
  height: 80vh;
  margin-top: 40px; }

.project-carousel-close {
  float: right;
  margin-right: 30px;
  font-size: 2em;
  color: white; }

.project-carousel-close:hover {
  color: red;
  cursor: pointer; }

.project-description p {
  color: white;
  display: block;
  text-align: center; }

.ecolo-container {
  padding-bottom: 20px; }

.ecolo-description {
  text-align: center;
  color: white;
  font-size: 1.2em;
  margin: 40px; }

.ecolo-row {
  margin-bottom: 50px;
  color: white; }

.ecolo-text-right {
  text-align: right;
  padding: 50px 80px 20px 0px; }

.ecolo-text-left {
  text-align: left;
  padding: 50px 0px 20px 80px; }

.contact-vertical-line {
  top: 10%;
  height: 45%; }

.contact-container {
  padding-bottom: 20px; }

.contact-label {
  padding-right: 30px;
  margin-right: 30px;
  font-size: 2em;
  color: white;
  cursor: pointer; }

.contact-input {
  width: 60%;
  border-radius: 30px;
  padding-left: 30px;
  margin-left: 30px; }

.contact-submit-box {
  text-align: center;
  width: 100%; }

.contact-submit {
  width: 20%;
  height: 60px;
  border-radius: 20px;
  margin: 0 auto;
  color: black;
  background-color: white;
  border: none;
  font-size: 2em; }

.contact-submit:hover {
  color: white;
  background-color: dimgrey; }

.contact-informations {
  text-align: center;
  font-size: 1.8em;
  color: white;
  margin: 40px; }

.contact-confirm p {
  font-size: 1.4em;
  color: white; }

.legal-container {
  color: white;
  padding-bottom: 20px; }
  .legal-container h2 {
    margin-top: 40px; }

/***** HOME PAGE *****/
@media screen and (max-width: 1200px) {
  .home-description {
    font-size: 1.6em; }

  .home-button {
    font-size: 1.2em;
    width: 80%; } }
/***** END - HOME PAGE *****/
/***** GALLERY PAGE *****/
@media screen and (min-width: 500px) and (max-width: 768px) {
  .gallery-category-box h2 {
    font-size: 1.4em; }

  .gallery-row {
    margin-top: 20px; }

  .vertical-line, .contact-vertical-line {
    top: 35%; }

  .gallery-category-box {
    margin-top: 20px;
    font-size: 1.2em; }

  .gallery-project-box {
    width: 40%; }

  .project-control {
    background-color: black; } }
@media screen and (max-width: 500px) {
  .vertical-line, .contact-vertical-line {
    height: 55%;
    top: 45%; }

  .gallery-category-box h2 {
    font-size: 1.4em; }

  .gallery-row {
    margin-top: 20px; }

  .profile {
    width: 40px;
    height: 40px; }

  .gallery-category-box {
    margin-top: 20px;
    font-size: 0.8em; }

  .gallery-project-box {
    width: 40%; }

  .project-control {
    background-color: black; } }
/***** END - GALLERY PAGE *****/
/***** ECOLO PAGE *****/
@media screen and (max-width: 768px) {
  .ecolo-text-left, .ecolo-text-right {
    text-align: center;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px; }

  .vertical-line-ecolo {
    top: 20%;
    height: 80%; }

  .ecolo-container {
    padding-bottom: 30px; } }
/***** END - ECOLO PAGE *****/
/***** CONTACT PAGE *****/
@media screen and (max-width: 768px) {
  .contact-label {
    margin: 0 auto;
    padding: 0; }

  .vertical-line, .contact-vertical-line {
    display: none; }

  .contact-input-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }

  .contact-input {
    margin: 0; }

  .contact-informations {
    font-size: 1.0em; }

  .contact-submit {
    font-size: 1.4em;
    width: 50%; } }
/***** END - CONTACT PAGE *****/
.admin-container {
  width: 100%;
  min-height: 80vh;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 30px 0 30px;
  text-align: center;
  padding-bottom: 30px; }

.admin-home-info {
  color: white;
  text-align: left; }

.admin-label {
  color: white;
  font-size: 1.8em; }

.admin-input, .admin-textarea {
  width: 100%;
  height: 10vh;
  border-radius: 20px;
  padding: 10px; }

.admin-textarea {
  height: 30vh; }

.info {
  color: white;
  text-align: left; }

.admin-gallery-row {
  padding-left: 20px; }

.admin-gallery-title {
  background-color: white;
  border-radius: 20px;
  text-align: left; }

.admin-gallery-action {
  font-size: 1.5em; }
  .admin-gallery-action a {
    color: white; }

.back {
  color: white; }

.back:hover {
  color: black; }

/********** SINGLE PROJECT **********/
.admin-gallery-single-container {
  color: white; }
  .admin-gallery-single-container .admin-gallery-update-start {
    width: 100%; }

/********** FIN - SINGLE PROJECT **********/
/********** UPDATE PROJECT **********/
.admin-gallery-update-section {
  margin-top: 40px;
  margin-bottom: 40px; }

.admin-gallery-update-input {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  padding: 10px; }

.admin-gallery-update-textarea {
  height: 200px; }

.admin-gallery-update-img-box {
  width: 80%;
  margin-left: 40px; }

.admin-gallery-update-submit {
  margin: 0 auto;
  width: 100%; }

.admin-gallery-update-btn {
  width: 40%; }

.admin-picture-img-box {
  width: 200px;
  position: relative;
  margin-top: 10px; }

.admin-picture-img-remove {
  position: absolute;
  top: 5px;
  right: 20px;
  color: red;
  font-weight: bold;
  font-size: 1.6em; }
  .admin-picture-img-remove .admin-picture-img-remove-message {
    display: none;
    font-size: 0.8em;
    font-weight: normal; }

.admin-picture-img-remove:hover {
  cursor: pointer;
  color: red; }
  .admin-picture-img-remove:hover .admin-picture-img-remove-message {
    display: inline-block; }

.admin-picture-fields {
  margin: 10px 5px; }

/********** FIN - UPDATE PROJECT **********/
.admin-ecolo-article-text-box {
  height: 100%;
  width: 100%;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px; }

.admin-ecolo-article-text {
  color: white;
  text-align: left; }

.admin-ecolo-divider {
  width: 80%;
  height: 2px;
  background-color: white;
  margin: 20px auto; }

/*# sourceMappingURL=styles.css.map */
