{% extends 'bases/bases.html.twig' %}

{% block title %}
    Galerie
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container gallery-container">
                <h1 class="gallery-h1">Galerie</h1>
                <div class="vertical-line"></div>
                <p class="gallery-p">Pour commencer, choisissez une catégorie : </p>
            <div class="row gallery-row">
                {% for category in categories %}
                    {% set column = 12/categories|length %}
                    {% if column < 3 %}
                        {% set column = 3 %}
                    {% endif %}
                    <div class="col-12 my-3 col-md-{{ column }} gallery-category-column">
                        <a href="{{ path('gallery_category',{'id':category.id}) }}">
                            <div class="gallery-category-box">
                                <h2>{{ category.name }}</h2>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}