{% extends 'bases/bases.html.twig' %}

{% block title %}
    ID BOIS
{% endblock %}

{% block content %}

    <div class="home-box">
        <div class="home-text-box">
            <p class="home-description">{{ description[0].description | nl2br }}</p>
        </div>
        <a href="{{ path('contact') }}"><button class="home-button">{{ button[0].description | nl2br  }}</button></a>
    </div>
{% endblock %}