{% extends 'bases/bases.html.twig' %}

{% block title %}
    ID BOIS
{% endblock %}

{% block content %}
    <div class="home-box">
        <div class="home-text-box">
            <p class="home-description">{{ description[0].description }}</p>
        </div>
        <button>Contactez-moi</button>
    </div>
{% endblock %}