{% extends 'bases/bases.html.twig' %}

{% block title %}
    Mentions légales
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container legal-container">
            <h1>Mentions légales</h1>

            <h2>Identification du site</h2>
            <p>Nom du site : ID-Bois</p>
            <p>URL complète du site : https://www.atelier-idbois.fr</p>

            <h2>Identification du propriétaire du site</h2>
            <p>Iandy DOMENICHINI</p>
            <p>Adresse : 2 avenue Granger 91210 - DRAVEIL</p>
            <p>Courriel : iandy.domenichini@hotmail.fr</p>
            <p>Réalisation du site web : Hery DOMENICHINI, développeur web du collectif <a
                        href="https://meliway.Fr">Meliway</a></p>
            <p>Responsable des publications : Iandy DOMENICHINI, propriétaire du site</p>

            <h2>Hébergement du site web</h2>
            <p>o2switch</p>
            <p>222-224 Boulevard Gustave Flaubert</p>
            <p>Capital de 100000€</p>
            <p>Siret : 510 909 807 00024</p>

            <h2>Activité</h2>
            <p>Numéro d'inscription au répertoir des métiers : 883 038 929 RM 91</p>

            <h2>Cookies</h2>
            <p>L'utilisation potentielle de cookies sur ce site a pour but d'améliorer l'expérience des utilisateurs.</p>

            <h2>Confidentialité</h2>
            <p>Les informations renseignées par l'utilisateur du site, notamment via le formulaire de contact, ne seront
                communiquées qu'au seul propriétaire du site.</p>
            <p>De même, les coordonnées fournies ne seront communiquées à une tierce partie.</p>

        </div>
    </div>


{% endblock %}